{#
  Block: Accordion
#}

{% set template = [
  [
    'core/details',
    {
      'showContent': true
    }
  ],
  [ 'core/details' ],
  [ 'core/details' ],
] %}
{% set allowed = [ 'core/details' ] %}
{% set inner = {
	template: template,
	allowedBlocks: allowed
} %}
<section {{ block_attrs( block ) }}>
	<div class="alignwide">
  		{{ inner_blocks( inner ) }}
	</div>
</section>
