{#
  Block: Accordion
#}

{% set inner = {
	template: block.template ?? [],
} %}
<section {{ block_attrs( block ) }}>
	<div class="acf-block__container">
  		{{ inner_blocks( inner ) }}
	</div>
</section>
