.acf-block-accordion {
	border-top: 1px solid var(--wp--preset--color--black);
}

.acf-block-accordion details,
.acf-block-accordion details[open] {
	border-bottom: 1px solid var(--wp--preset--color--black);
}
.acf-block-accordion details[open] {
	padding-bottom: 1rem;
}
.acf-block-accordion details summary {
	position: relative;
	padding: 1rem 2rem 1rem 0;
}
.acf-block-accordion details summary::-webkit-details-marker,
.acf-block-accordion details summary::marker {
	content: '';
	display: none;
}
.acf-block-accordion details summary::after {
	position: absolute;
	content: '\002B';
	top: 0.65rem;
	right: 0.65rem;
	display: block;
	font-size: 1.5rem;
}
.acf-block-accordion details[open] > summary::after {
	content: '\2212';
}
