@import './tailwind/tailwind.css';

@import-glob './base/*.css';
@import-glob './layout/*.css';
@import-glob './core-blocks/*.css';
@import-glob './../../blocks/**/*.css';
@import-glob './pages/*.css';
