:root {
	/* ===========================================================
		VIEWPORT BREAKPOINTS
	=========================================================== */
	/* Unitless numbers for math */
	--cfg-fluid-bp-min: 375; /* smallest viewport in px */

	/* Fallback to 1200px if WP var isn't set */
	--cfg-fluid-bp-max: calc(var(--wp--style--global--content-size,1200px)/1px);

	/* ===========================================================
		STRICT FONT SIZES
		These font sizes should also be mirrored in
		theme-json/settings/typography.js#fontSizes.
	=========================================================== */
	--cfg-text-zero: 0;
	--cfg-text-2xs: 0.5rem; /* 8px */
	--cfg-text-xs: 0.625rem; /* 10px */

	/* ===========================================================
		FLUID FONT SIZE RANGES
	=========================================================== */
	/* sm: 12px / 14px */
	--fs-sm-min: 0.75rem;
	--fs-sm-max: 0.875rem;

	/* base: 15px / 16px */
	--fs-base-min: 0.9375rem;
	--fs-base-max: 1rem;

	/* md: 18px / 24px */
	--fs-md-min: 1.125rem;
	--fs-md-max: 1.5rem;

	/* lg: 24px / 32px */
	--fs-lg-min: 1.5rem;
	--fs-lg-max: 2rem;

	/* xl: 32px / 48px */
	--fs-xl-min: 2rem;
	--fs-xl-max: 3rem;

	/* 2xl: 48px / 64px */
	--fs-2xl-min: 3rem;
	--fs-2xl-max: 4rem;
}
