{#
  Block: Text & Image
#}

{% set template = [
	[
		'core/pattern',
		{
			'slug': 'wp-starter/text-image-inner-blocks',
		}
	]
] %}
{% set allowed = [
	'core/media-text',
	'core/paragraph',
	'core/heading',
	'core/group',
] %}
{% set inner = {
	template: template,
	allowedBlocks: allowed
} %}
<section {{ block_attrs( attributes ) }}>
  {{ inner_blocks( inner ) }}
</section>
