{#
  Block: Text & Image
#}

{% set template = [
	[
		"core/media-text",
		[],
		[
			[
				"core/paragraph",
				{
					"className":"is-style-eyebrow",
					"placeholder":"Eyebrow Text"
				}
			],
			[
				"core/heading",
				{
					"level":3,
					"placeholder":"Headline Text"
				}
			],
			[
				"core/paragraph",
				{
					"placeholder":"Body Text"
				}
			],
			[
				"core/buttons"
			]
		]
	]
] %}
{% set allowed = [
	'core/media-text',
	'core/paragraph',
	'core/heading',
	'core/group',
] %}
{% set inner = {
	template: template,
	allowedBlocks: allowed
} %}
<section {{ block_attrs( block ) }}>
	<div class="alignwide">
		{{ inner_blocks( inner ) }}
	</div>
</section>
