{#
  Block: Video Embed
#}

{% set allowed = [
	'core/heading',
	'core/paragraph',
	'core/embed'
] %}
{% set inner = {
	template: attributes.template ?? [],
	allowedBlocks: allowed
} %}
<section {{ block_attrs( block ) }}>
	<div class="alignwide">
		{{ inner_blocks( inner ) }}
	</div>
</section>
