{#
  Block: Video Embed
#}

{% set template = [
	[
		"core/heading",
		{
			"textAlign":"center"
		}
	],
	[
		"core/paragraph",
		{
			"align":"center"
		}
	],
	[
		"core/embed",
		{
			"align":"center"
		}
	],
] %}
{% set allowed = [
	'core/heading',
	'core/paragraph',
	'core/embed'
] %}
{% set inner = {
	template: template,
	allowedBlocks: allowed
} %}
<section {{ block_attrs( block ) }}>
	<div class="alignwide">
		{{ inner_blocks( inner ) }}
	</div>
</section>
