@theme {
	--color-btn-bg-color: var(--color-black);
	--color-btn-text-color: var(--color-white);
	--color-btn-outline-bg-color: var(--color-black);
	--color-btn-outline-text-color: var(--color-black);
}

@utility btn-base {
	@apply text-md inline-flex items-center gap-12 rounded-none transition;
	@apply focus-visible:ring-4 focus-visible:outline-none;
	@apply disabled:pointer-events-none disabled:opacity-20;
	@apply min-h-40 px-20;

	& svg {
		@apply size-20;
	}
}

@utility btn-default {
	@apply btn-base;
	@apply bg-btn-bg-color text-btn-text-color;
	@apply hover:bg-btn-bg-color/70;
	@apply active:bg-btn-bg-color/70;
	@apply focus-visible:bg-btn-bg-color/70 focus-visible:ring-btn-bg-color;
}

@utility btn-outline {
	@apply btn-base;
	@apply border-btn-outline-bg-color text-btn-outline-text-color border bg-transparent;
	@apply hover:border-btn-outline-bg-color/70 hover:bg-btn-outline-bg-color hover:text-btn-text-color;
	@apply active:bg-btn-outline-bg-color/20 active:text-btn-outline-text-color;
	@apply focus-visible:bg-btn-outline-bg-color/20 focus-visible:ring-btn-outline-text-color;
}

.wp-block-button {
	.wp-block-button__link {
		@apply btn-default;
	}

	&.is-style-outline {
		.wp-block-button__link {
			@apply btn-outline;
		}
	}

	&.is-style-icon-only {
		.wp-block-button__link {
			@apply text-zero gap-0;
		}
	}

	&.is-style-plain {
		.wp-block-button__link {
			@apply text-btn-text-color rounded-none border-0 bg-transparent px-0;
		}
	}
}
