{#
Block: Video Player
#}

{% set attrs = {} %}
{% set inner = {
	template: block.template ?? [],
	allowedBlocks: [
		'core/cover',
		'core/embed'
	]
} %}

{% if function('is_admin') == false %}
	{% set attrs = {
		'x-data': 'playvideo',
	} %}
{% endif %}

<section {{ block_attrs( block, "", attrs ) }}>
	{{ inner_blocks( inner ) }}
</section>
