.btn-default{
  background: #1A4155;
  border-radius: 0px 20px 20px 20px;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
}

.mce-content-body a.btn-default[data-mce-selected] {
  background: #6e6e6e;
  border-radius: 0px 20px 20px 20px;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
}

.btn-secondary{
  background: #ffffff;
  border: 1px solid #1A4155;
  border-radius: 0px 20px 20px 20px;
  color: #1A4155;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
}

.mce-content-body a.btn-secondary[data-mce-selected] {
  background: #cccccc;
  border: 1px solid #1A4155;
  border-radius: 0px 20px 20px 20px;
  color: #1A4155;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
}
