#dashboard-widgets .viget-widget__header {
  font-weight: 700;
}

#footer-thankyou {
  font-style: normal !important;
}

/* Hide Comment Settings */
body.options-discussion-php form table:first-of-type {
	display: none;
}

/* Custom CodeMirror Theme */
.cm-s-oceanic-next.CodeMirror {
	background-color: #122c3a;
}
.cm-s-oceanic-next .CodeMirror-gutters {
	background-color: #1a4155;
}
