{#
Block: Alert Banner
#}

{% set id = 'alert' ~ block.id %}

{% if block.block_id is not empty %}
    {% set id = 'alert' ~ block.block_id %}
{% endif %}

{% set inner = {
	template: block.template ?? [],
} %}

{% set attrs = {} %}

{% if function('is_admin') == false %}
	{% set attrs = {
		'x-data': '{ ' ~ id ~ ': $persist(true) }',
		'x-show': id
	} %}
{% endif %}

<section {{ block_attrs( block, '', attrs ) }} >
	<div class="acf-block__container">
		{{ inner_blocks( inner ) }}
	</div>
	{{ function( 'alert_banner_dismiss_button', id ) }}
</section>

