{#
Block: Alert Banner
#}

{% set id = 'alert' ~ block.id %}

{% if block.block_id is not empty %}
    {% set id = 'alert' ~ block.block_id %}
{% endif %}


{% set template = [
	[
		'core/paragraph',
		{
			'placeholder': 'Enter alert banner message...'
		}
	],
	[
		'core/button',
		{
			'className': 'is-style-outline',
		}
	]
] %}

{% set allowed = [
	'core/paragraph',
	'core/button',
] %}
{% set inner = {
	template: template,
	allowedBlocks: allowed
} %}

{% set attrs = {} %}

{% if function('is_admin') == false %}
	{% set attrs = {
		'x-data': '{ ' ~ id ~ ': $persist(true) }',
		'x-show': id
	} %}
{% endif %}

<section {{ block_attrs( block, '', attrs ) }} >
	<div class="wp-block-alert-banner__inner-container">
		{{ inner_blocks( inner ) }}
	</div>
	{{ function( 'alert_banner_dismiss_button', id ) }}
</section>

