{#
Block: Alert Banner
#}

{% set id = wpstarter_alertbanner_get_id(block) %}

{% set inner = {
	template: block.template ?? [],
} %}

{% set attrs = {
	'id': id
} %}

{% if function('is_admin') == false %}
	{% set attrs = attrs|merge({
		'x-data': '{ ' ~ id ~ ': $persist(true) }',
		'x-show': '"' ~ id ~ '"'
	}) %}
{% endif %}

<section {{ block_attrs( block, '', attrs ) }}>
	<div class="acf-block-inner__container">
		{{ inner_blocks( inner ) }}
	</div>
	{{ wpstarter_alertbanner_dismiss_button(id) }}
</section>

