{#
Block: Alert Banner
#}

{% set template = [
	[
		'core/paragraph',
		{
			'placeholder': 'Enter alert banner message...'
		}
	]
] %}
{% set allowed = [
	'core/paragraph',
	'core/button',
] %}
{% set inner = {
	template: template,
	allowedBlocks: allowed
} %}

{% set attrs = {} %}

{% if function('is_admin') == false %}
	{% set attrs = {
		'x-data': '{ ' ~ attributes.id ~ ': $persist(true) }',
		'x-show': attributes.id
	} %}
{% endif %}
<section
	{{ block_attrs( attributes, 'gap-24 lg:gap-48', attrs ) }}
>
	<div class="flex flex-col items-start gap-24 lg:flex-row lg:gap-48 lg:items-center">
		{{ inner_blocks( inner ) }}
	</div>
	{{ function( 'alert_banner_dismiss_button', attributes.id ) }}
</section>
