@utility entry-content {
	/*
		Adjust this to add space between blocks on a page.
		Should be adjusted or removed as needed per project.
	*/
	& > *:not(:last-child) {
		@apply mb-0;
	}

	& > *:not(.alignfull) {
		max-width: var(--screen-container);
		@apply !mx-auto;
	}
}

@utility is-layout-constrained {
	& > .acf-block-inner__container {
		max-width: var(--screen-container);
		@apply !mx-auto;
	}

	.block-editor-block-list__block .acf-block-inner__container > & {
		max-width: var(--screen-container);
		@apply !mx-auto;
	}
	&.is-content-justification-right > .acf-block-inner__container {
		@apply justify-end text-right;
	}

	&.is-content-justification-left > .acf-block-inner__container {
		@apply justify-start text-left;
	}
}

@utility acf-block-inner__container {
	.is-layout-constrained > & {
		max-width: var(--screen-container);
		@apply !mx-auto;
	}

	.block-editor-block-list__block & > .is-layout-constrained {
		max-width: var(--screen-container);
		@apply !mx-auto;
	}
}

@utility block-editor-block-list__block {
	& .acf-block-inner__container > .is-layout-constrained {
		max-width: var(--screen-container);
		@apply !mx-auto;
	}
}

@layer base {
	[x-cloak] {
		@apply !hidden;
	}

	ul.wp-block-list {
		@apply list-disc pl-32;

		li {
			@apply list-outside;
		}
	}

	ol.wp-block-list {
		@apply list-decimal pl-32;

		li {
			@apply list-outside;
		}
	}

	a {
		@apply underline;
	}

	p:not(:empty):not(:last-child) {
		@apply mb-24;
	}
}
