@import 'tailwindcss';
@import './colors.css';
@import './spacing.css';
@import './typography.css';
@import './images.css';

/* Dark theme to be driven by a CSS selector instead of the prefers-color-scheme media query */
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant mobile-menu-closed (body:has(.menu-closed[style]) &);
@custom-variant mobile-menu-open (body:has(.menu-open[style]) &);

/*
	Check the css files in the tailwind folder for more variables
	Add more variables here, but if they start to get long, move them to their own file.
*/
@theme {
	/* Screens (breakpoints) */
	--breakpoint-container: 1200px;
	--breakpoint-content-wide: 900px;
	--breakpoint-admin-bar-desktop: 782px;
	--breakpoint-wp-cols: 781px;
	--breakpoint-admin-bar-sticky: 601px;
	--breakpoint-mobile-menu: 600px;
	--breakpoint-xs: 480px;

	/* Flex Basis */
	--flex-basis-1/2-gap: calc((100% / 2) - var(--wp--style--block-gap));
	--flex-basis-1/3-gap: calc((100% / 3) - var(--wp--style--block-gap));
	--flex-basis-1/4-gap: calc((100% / 4) - var(--wp--style--block-gap));

	/* Rounded Corners */
	--radius-default: 0.5rem;
}
