@theme {
	/* Font Family */
	--font-sans: var(--wp--preset--font-family--body);
	--font-body: var(--wp--preset--font-family--body);
	--font-heading: var(--wp--preset--font-family--heading);

	/* Fluid Font Sizes */
	--text-zero: 0;
	--text-xs: clamp(0.75rem, 1vw + 0.5rem, 0.875rem);
	--text-sm: clamp(0.875rem, 2vw + 0.25rem, 1.25rem);
	--text-base: clamp(1rem, 2vw + 0.25rem, 1.5rem);
	--text-md: clamp(1.25rem, 3vw + 0.25rem, 2rem);
	--text-lg: clamp(2rem, 3vw + 1rem, 2.5rem);
	--text-xl: clamp(3rem, 3vw + 2rem, 4rem);
	--text-2xl: clamp(4rem, 3vw + 3rem, 5rem);
}
