@theme {
	/* Font Family */
	--font-sans: var(--wp--preset--font-family--body);
	--font-body: var(--wp--preset--font-family--body);
	--font-heading: var(--wp--preset--font-family--heading);

	/* Fluid Font Sizes */
	--text-zero: 0;
	--text-xs: clamp(0.5rem, 1vw + 0.3rem, 0.625rem);
	--text-sm: clamp(0.625rem, 2vw + 0.1rem, 0.875rem);
	--text-base: clamp(0.75rem, 2vw + 0.1rem, 1rem);
	--text-md: clamp(0.875rem, 3vw + 0.1rem, 1.5rem);
	--text-lg: clamp(1.5rem, 3vw + 0.5rem, 2rem);
	--text-xl: clamp(2rem, 3vw + 1rem, 3rem);
	--text-2xl: clamp(3rem, 3vw + 2rem, 4rem);
}
