@import './inc/font-families.css';
@import './inc/font-sizes.css';
@import './inc/font-calculations.css';

@theme {
	/* Font Families */
	--font-sans: var(--cfg-font-body);
	--font-body: var(--cfg-font-body);
	--font-heading: var(--cfg-font-heading);

	/* Font Sizes */
	--text-zero: var(--cfg-text-zero);
	--text-2xs: var(--cfg-text-2xs);
	--text-xs: var(--cfg-text-xs);
	--text-sm: var(--fluid-text-sm);
	--text-base: var(--fluid-text-base);
	--text-md: var(--fluid-text-md);
	--text-lg: var(--fluid-text-lg);
	--text-xl: var(--fluid-text-xl);
	--text-2xl: var(--fluid-text-2xl);
	--text-huge: var(--fluid-text-huge);
}
