@theme {
	/* Font Families */
	--font-sans: var(--wp--preset--font-family--body);
	--font-body: var(--wp--preset--font-family--body);
	--font-heading: var(--wp--preset--font-family--heading);

	/* Fluid Font Sizes */
	--text-zero: 0;
	--text-2xs: 0.5rem; /* 8px */
	--text-xs: 0.625rem; /* 10px */
	--text-sm: clamp(0.75rem, 2vw + 0.1rem, 0.875rem); /* 12px / 14px */
	--text-base: clamp(0.9375rem, 2vw + 0.1rem, 1rem); /* 15px / 16px */
	--text-md: clamp(1.125rem, 3vw + 0.1rem, 1.5rem); /* 18px / 24px */
	--text-lg: clamp(1.5rem, 3vw + 0.5rem, 2rem); /* 24px / 32px */
	--text-xl: clamp(2rem, 3vw + 1rem, 3rem); /* 32px / 48px */
	--text-2xl: clamp(3rem, 3vw + 2rem, 4rem); /* 48px / 64px */
}
