{#
  Block: Text & Icon Cards
#}

{% set template = [
  [ 'acf/text-icon-card' ],
  [ 'acf/text-icon-card' ],
  [ 'acf/text-icon-card' ]
] %}
{% set allowed = [ 'acf/text-icon-card' ] %}
{% set inner = {
	template: template,
	allowedBlocks: allowed,
} %}
<section {{ block_attrs( attributes ) }}>
  {{ inner_blocks( inner ) }}
</section>
