{#
  Block: Text & Icon Cards
#}

{% set inner = {
	template: block.template ?? [],
} %}
<section {{ block_attrs( block ) }}>
	<div class="alignwide">
  		{{ inner_blocks( inner ) }}
	</div>
</section>
