{#
  Block: Image with Caption
#}

{% set inner = {
	template: block.template ?? [],
	templateLock: 'all'
} %}
<section {{ block_attrs( block ) }}>
	<div class="acf-block-inner__container">
		{{ inner_blocks( inner ) }}
	</div>
</section>
