{#
  Block: Image with Caption
#}

{% set allowed = [ 'core/image' ] %}
{% set inner = {
	template: attributes.template ?? [],
	allowedBlocks: allowed,
	templateLock: 'all'
} %}
<section {{ block_attrs( block ) }}>
	<div class="alignwide">
		{{ inner_blocks( inner ) }}
	</div>
</section>
