{#
  Block: Image with Caption
#}

{% set template = [
  [
    'core/pattern',
    {
      'slug': 'wp-starter/image-caption-inner-blocks'
    }
  ]
] %}
{% set allowed = [ 'core/image' ] %}
{% set inner = { template: template, allowedBlocks: allowed } %}
<section {{ block_attrs( attributes ) }}>
  {{ inner_blocks( inner ) }}
</section>
