.acf-block-dialog {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 75vw;
	max-height: 60vh;
	display: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 800;
	overflow: auto;
}
.acf-block-dialog .inner {
	padding: 1.5rem 2rem;
	position: relative;
}
.acfbt-dialog-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.35rem 0.75rem;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1rem;
	display: flex;
	gap: 0.25rem;
}
.acfbt-dialog-close::before {
	content: '×';
	font-size: 1.5rem;
	line-height: 0.85;
	font-weight: lighter;
}
.acfbt-dialog-label {
	display: block;
	cursor: pointer;
}
.acfbt-dialog-checkbox {
	position: absolute;
	visibility: hidden;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}
input:checked + label + .acf-block-dialog {
	display: block;
}

.is-root-container:has(.acf-block-dialog) {
	position: relative;
}
