@layer components {
	html:has(.acf-block-dialog[open]),
	body:has(.acf-block-dialog[open]) {
		overflow: hidden;
	}

	.acf-block-dialog {
		border-radius: 0;
		border: none;
		background: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.acf-block-dialog::backdrop {
		@apply bg-black/40;
	}

	.acf-block-dialog[open],
	.acf-block-dialog::backdrop {
		animation: show 500ms ease;
	}

	.acf-block-dialog > .inner {
		padding: 50px;
		display: flex;
		flex-direction: column;
	}

	@keyframes show {
		0% {
			opacity: 0;
		}
	}
}
